photos
output
original_images
experiment_images
showImages
photos
testpic2
__pycache__/
*.pyc
testpic
data/emr
data/devided_emr
data/wavecheckdata
data/statistics
data/graphs
Scripts
penstoneenv
Lib
# virtualenv
venv/
.venv/
